/* 
    Document   : JFXMapPaneDemo
    Created on : Aug 16, 2012, 7:19:05 PM
    Author     : smithjel
    Description:
        Purpose of the stylesheet follows.
*/

.scene {
    -fx-background-image: url("images/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left bottom;
}

.MapTypeSelectionPanelFX {
    -fx-background-color: #f0f0f0ff;
    -fx-background-radius: 3 3 3 3;
    -fx-border-insets: 0 0 0 0;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
    -fx-border-color: #B0B0B0FF;
    -fx-border-radius: 3 3 3 3;

}
